@charset "utf-8";

.l-header {
  width: 100%;
  height: $header_height_pc;
  @include responsive(sp) {
    height: $header_height_sp;
  }
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $header_index;
}
